{% extends 'tasks/base.html' %}

{% block title %}
    <title>{% if form_type == 'create' %}Add Employee{% else %}Update Employee{% endif %}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if form_type == 'create' %}Add Employee{% else %}Update Employee{% endif %}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                 <div class="mb-3">
                    <label for="id_role" class="form-label">Role:</label>
                    <select name="role" id="id_role" class="form-control">
                        <option value="employee" {% if form.role.value == 'employee' %}selected{% endif %}>Employee</option>
                        <option value="manager" {% if form.role.value == 'manager' %}selected{% endif %}>Manager</option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary">{% if form_type == 'create' %}Add{% else %}Update{% endif %}</button>
                <a href="{% url 'manager_dashboard' %}" class="btn btn-secondary ms-2">Cancel</a>

            </div>
        </div>
    </form>
</div>
{% endblock %}